{% extends "crm/base.html" %}


{% block title %}
Customers
{% endblock %}


{% block content %}


<div class="page-header">

    <div>

        <h1>Customers</h1>

        <p>
            Manage CRM customer accounts.
        </p>

    </div>


    <a href="{% url 'customer_create' %}" class="button">
        + Add Customer
    </a>

</div>


<div class="table-container">


    <table>

        <thead>

        <tr>

            <th>Name</th>

            <th>Industry</th>

            <th>Country</th>

            <th>Email</th>

            <th>Phone</th>

        </tr>

        </thead>


        <tbody>


        {% for customer in customers %}

        <tr>

            <td>
                {{ customer.name }}
            </td>

            <td>
                {{ customer.industry }}
            </td>

            <td>
                {{ customer.country }}
            </td>

            <td>
                {{ customer.email }}
            </td>

            <td>
                {{ customer.phone }}
            </td>

        </tr>


        {% empty %}

        <tr>

            <td colspan="5">
                No customers found.
            </td>

        </tr>


        {% endfor %}


        </tbody>

    </table>


</div>


{% endblock %}