{% extends "crm/base.html" %}


{% block title %}
CRM Dashboard
{% endblock %}


{% block content %}


<h1>CRM Dashboard</h1>

<p>Welcome to your CRM system.</p>


<div class="cards">


    <div class="card">

        <h3>Customers</h3>

        <div class="number">
            {{ customer_count }}
        </div>

    </div>


    <div class="card">

        <h3>Contacts</h3>

        <div class="number">
            {{ contact_count }}
        </div>

    </div>


    <div class="card">

        <h3>Opportunities</h3>

        <div class="number">
           {{ opportunity_count }}
        </div>

    </div>


</div>


<div class="table-container">


    <h2>Recent Customers</h2>


    <table>

        <thead>

        <tr>

            <th>Customer</th>

            <th>Industry</th>

            <th>Country</th>

            <th>Email</th>

        </tr>

        </thead>


        <tbody>


        {% for customer in recent_customers %}

        <tr>

            <td>
                {{ customer.name }}
            </td>

            <td>
                {{ customer.industry }}
            </td>

            <td>
                {{ customer.country }}
            </td>

            <td>
                {{ customer.email }}
            </td>

        </tr>


        {% empty %}

        <tr>

            <td colspan="4">
                No customers yet.
            </td>

        </tr>


        {% endfor %}


        </tbody>

    </table>


</div>


{% endblock %}